import styles from './{{pascalCase name}}.module.scss';


function {{pascalCase name}}() {
    return (
        <div className={styles.{{pascalCase name}}Wrapper}>
            <h1>{{pascalCase name}}</h1>
        </div>
    )
}

export default {{pascalCase name}};
